/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
form {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #4e75ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #455ba8;
}

input {
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}
.js-search-query {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: fixed;
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
}

.gallery {
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  gap: 24px 20px;
  list-style: none;
}

.photo-card {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  position: relative;
}
.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  background-color: #fff;
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  width: 408px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input,
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
}
input:hover,
textarea:hover {
  border-color: #000000;
}
input:active,
textarea:active {
  border: 1px solid #808080;
}

.hidden {
  display: none;
}

.loader {
  margin-top: 20px;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #ddd;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.load-more {
  margin: 0 auto;
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
}

.load-more:hover {
  background-color: #455ba8;
}

.load-more.hidden {
  display: none;
}
.radio {
  display: flex;
}